@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,500&display=swap");
@tailwind base;
@tailwind components;

@layer base {
    body {
        margin: 0;
        padding: 0;
        color: #212121;
    }
    h1 {
        @apply text-5xl font-bold;
    }

    h2 {
        @apply text-4xl font-bold;
    }

    h3 {
        @apply text-3xl font-bold;
    }

    h4 {
        @apply text-2xl font-bold;
    }
    .shadow-input {
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
            0 0 8px rgb(102 175 233 / 60%);
    }
}

@layer components {
    .btn {
        @apply border-none px-4 py-2 rounded  text-sm font-semibold cursor-pointer;
    }
    .btn2 {
        @apply mx-2 bg-[#e7e8ea] py-2 rounded font-bold text-[#3f4b53] text-sm flex w-1/2 hover:opacity-75;
    }
    .btn3 {
        @apply bg-orange-600  font-bold rounded hover:opacity-80  text-white;
    }
    .bground {
        @apply bg-orange-600;
    }
    .topic-item {
        @apply px-20 py-3 hover:bg-orange-500 cursor-pointer transition;
    }
    .input {
        @apply border-[1px] outline-none rounded focus:border-[#66afe9];
    }
}
